:root {
    --name-color: black;
    --namefotter-color: white;
    --fotter-color: #2f303a;
    --menu-color: #212121;
    --main-color: #212121;
    --body-color:#212121;
    --textlorem-color:#757575;
    --team-color:#F5F4FA;
  }
  body {
    color: var(--body-color);
    font-family:  'Roboto', sans-serif;
    list-style-type: none;
    text-decoration: none; 
  }
  
  .section{
    padding-top: 94px;
    padding-bottom: 94px;
  
  }
  ul{
    list-style-type: none;
  }
  .header{
display: flex;
text-align: center;
justify-content: space-between;
  }
  .name {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--name-color);
    cursor: pointer;
  }
  .menu{
    display: flex;
    gap: 46px;
  }
  .item {
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    color: var(--menu-color);
    cursor: pointer;
  }
  .item:hover {
    color: #2196f3;
  }
  .headercontact{
    display: inline-flex;
    gap: 50px; 
  }
  .hcontact{
  justify-content: flex-end;
  }
  .contact {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    line-height: 1.14;
    cursor: pointer;  
  }
  .contact:hover {
    color: #2196f3;
  }
  .contact-icon:hover{
fill: #2196f3;
  }
  /* Heder i ogólne body */
  .main {
    background-color: var(--main-color);
    height: 600px;
   

  }
  .maintext {
    display: flex;
   align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
   width: 1200px;
   margin: 0 auto;
   
  }
  .mainbutton {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    cursor: pointer;
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    display: flex;
    margin: 0 auto;
    
 
  }
  .lorem-icon{
    
    
  }
  .lorem{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 30px;
  
  }
  .headline {
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 17;
  }
  .textlorem {
    font-size: 14px;
    line-height: 1, 71;
    color:var(--textlorem-color);
    flex-wrap: wrap;
    flex-basis: calc((100% - 90px) / 4);
  }
  .whatwedo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
    text-align: center;
    padding-bottom: 50px;
  }
  .mainimg{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-basis: calc((100% - 60px) / 3);
  }
  .team{
    background-color: var(--team-color) ;
  }
  .team-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
    text-align: center;
  }
  .teamimg{
    display: flex;
    width: 1200px;
    gap:30px;
    padding: 0;
  }
  .imgteam{
    flex-basis: calc((100%-90px)/4);

  }
  .mi{
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .teamsignature{
    background-color: #ffffff;
  }
 
  /* Początek footera */
  .fotter {
    background-color: #2f303a;
  }
  .textfotter{
    display: flex;
    flex-direction: column;

  }
  .namefotter {
    text-decoration: none;
    color: var(--namefotter-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    cursor: pointer;
  }
  .namefotter:hover {
    color: #2196f3;
  }
  .location {
    color: #ffffff;
    font-size: 14px;
    line-height: 1, 71;
    cursor: pointer;
  }
  .location:hover {
    color: #2196f3;
    cursor: pointer;
  }
  /* Tu kończy się css dla strony głównej */
  .filtrs{
    display: flex;
    gap: 8px;
    justify-content: center;
    border-bottom: #ffffff;
    
  }
  .filtr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    cursor: pointer;
    text-align: center;
    border: none;
  }
  .filtr:hover {
    background-color: #2196f3;
    color: #ffffff;
    border-radius: 4px;
  }
  .img{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .portfolioimg{
    flex-basis: calc((100% - 60px) / 3);
   }
  .pi{
    max-width: 100%;
    width: 100%;
    height:auto;

  }
   
   .imgname {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
  }
  .container{
    width: 1200px;
    margin: 0 auto;
  }
  